/*logo + slogan */
.logo
{
    color: steelblue;
    text-align: center;
    font-size: 100px;
    font-family: "Marker Felt", "fantasy";
}
.slogan
{
    color: steelblue;
    text-align: center;
    font-size: 30px;
    font-family: "Apple Chancery", "cursive";
}

/*features */
body{
    margin: 0;
    background-color: lavender;
}
.grid-container {
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;

  }
.grid-container div{

    padding: 10px;
    border: 1px solid black;
}
.grid-item {
    
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

.box1 { 
    color: red; background-color: pink;
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 3;
}
.box2 { 
    color: lightblue; background: darkblue;
    grid-row: 1;
    grid-column-start: 3;
    grid-column-end: 5;
}
.box3 { 
    color: green; background: lightseagreen;
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}

.box4 { 
    color:gold ; background: brown;
    grid-row: 2;
    grid-column-start: 3;
    grid-column-end: 5;
}

/*Other text index */
.indextext{
    font-size: 20px;
    font-weight: bold;
    padding: 30px;
}
.registertext{
    text-align: center;
    color: red;
    font-size: 20px;
    font-weight: bold;
    padding-top: 300px;
}

/* Title and welcome homepage */
.welcome{
    color: steelblue;
    text-align: center;
    font-size: 30px;
    font-family: "Apple Chancery", "cursive";
}
.title{
    color: steelblue;
    text-align: center;
    font-size: 100px;
    font-family: "Marker Felt", "fantasy";
}

img{
    width: 500px;
    height: 300x;
}

/* features pages */
.ftitle{
    color: steelblue;
    text-align: center;
    font-size: 30px;
    font-family: "Apple Chancery", "cursive";
}